<style>
    .main-ftr {
    background-color: #f6f3f3dc;
    width: 100%;
    padding: 3% 0% 0% 5%;
    margin-top: 30px;
    }
    h3 {
        font-size: 1.2rem;
    }
    .ftr-nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        border-bottom: 1px solid rgba(0, 0, 0, 0.136);
        height: 40px;
        margin: 20px 0px;
    }
    .main-light{
        font-weight: 600;
    }
    .ftr-nav-m {
        margin-right: 30px;
        width: fit-content;
        opacity: .7;
        white-space: nowrap;
    }
    .ftr-nav-m:hover {
        opacity: 1;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
    }
    .ftr-nav-pop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
    
    }
    .ftr-nav-pop > div {
    padding: 0px 20px 0px 0px;
    width: 250px;
    }
    .main-light {
    font-weight: 600;
    }
    .light {
    opacity: .7;
    }
    .show i {
    font-size: .8rem;
    opacity: .6;
}
.fa-solid, .fas {
    font-weight: 900;
}
.fa-angle-right:before {
    content: "\f105";
}
.show span:hover{
    text-decoration: underline black;
}
.ftr-hr {
    margin-right: 5%;
}
hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.ftr-mdl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 10px 0px 0px;
}
.ftr-mdl > div {
    margin: 1% 5% 2% 0%;
    width: calc((70%) / 3);
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.ftr-copy {
    margin: 20px 0px 20px 0px;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.ftr-copy > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.ftr-copy a {
    color: black;
    opacity: 8;
}
.ftr-net{
    padding: 5px;
}
.ftr-net > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
}
.eng-in {
    cursor: pointer;
}
.ftr-inr {
    font-size: .95rem;
    font-weight: 700;
}
.ftr-copy a {
    color: black;
    opacity: 8;
}
.ftr-mansi {
    font-family: 'Dancing Script', cursive !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    filter: drop-shadow(2px 2px 4px rgb(11, 8, 46));
    border-top: 1px solid rgba(0, 0, 0, 0.236);
    padding: 10px 0px 0px 0px;
    margin-right: 5%;
}
.ftr-mansi p {
    background: -webkit-linear-gradient(#fad400, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: sheck 5s infinite linear;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
@keyframes sheck {
    0% {
    transform: scale(1);
}

33% {
    transform: scale(1.2);
}
50% {
    transform: scale(1);
}
66% {
    transform: scale(1.2);
}
100% {
    transform: scale(1);
}
}


</style>
<footer>
    <div class="main-ftr">
        <div class="ftr-head">
            <h3>Inspiration for future getaways</h3>
        </div>
        <div class="ftr-nav">
            <div class="main-light ftr-nav-m">Popular</div>
            <div class="main-light ftr-nav-m">Arts and Culture</div>
            <div class="main-light ftr-nav-m">Outdoors</div>
            <div class="main-light ftr-nav-m">Mountains</div>
            <div class="main-light ftr-nav-m">Beach</div>
            <div class="main-light ftr-nav-m">Unique stays</div>
            <div class="main-light ftr-nav-m">Categories</div>
            <div class="main-light ftr-nav-m">Things to do</div>
        </div>
        <div class="ftr-nav-pop">
            <div>
                <div>
                    <div class="main-light">Canmore</div>
                    <p class="light">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Benalmadena</div>
                    <p class="light">Flat rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Marbella</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Mijas</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Prescott</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Scottsdale</div>
                    <p class="light">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Tucson</div>
                    <p class="light">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Jasper</div>
                    <p class="light">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Mountains View</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">DevonPort</div>
                    <p class="light">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Mallacoota</div>
                    <p class="light">Beach house rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Ibiza</div>
                    <p class="light">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Anaheim</div>
                    <p class="light">Apartment rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Mounterey</div>
                    <p class="light">Holiday rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Paso Robles</div>
                    <p class="light">House rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Santa Barbara</div>
                    <p class="light">Flat rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Sonoma</div>
                    <p class="light">Cottage rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light show">
                        <span>Show more</span>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <hr class="ftr-hr">
        <div class="ftr-mdl">
            <div>
                <div class="main-light mb-2">Support</div>
                <div class="ftr-mdl-cont">
                    <div>
                        <span>Help Center</span>
                    </div>
                    <div>
                        <span>AirCover</span>
                    </div>
                    <div>
                        <span>Anti discrimination</span>
                    </div>
                    <div>
                        <span>Disability support</span>
                    </div>
                    <div>
                        <span>Cancellation option</span>
                    </div>
                    <div>
                        <span>Report neighbourhood</span>
                    </div>
                    <div>
                        <span>concern</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="main-light mb-2">Hosting</div>
                <div class="ftr-mdl-cont">
                    <div>
                        <span>Airbnb your home</span>
                    </div>
                    <div>
                        <span>AirCover for Hosts</span>
                    </div>
                    <div>
                        <span>Hosting Resources</span>
                    </div>
                    <div>
                        <span>Community forum</span>
                    </div>
                    <div>
                        <span>Hosting responsibly</span>
                    </div>
                    
                </div>
            </div>
            <div>
                <div class="main-light mb-2">Airbnb</div>
                <div class="ftr-mdl-cont">
                    <div>
                        <span>Newsroom</span>
                    </div>
                    <div>
                        <span>New features</span>
                    </div>
                    <div>
                        <span>Careers</span>
                    </div>
                    <div>
                        <span>Investors</span>
                    </div>
                    <div>
                        <span>Airbnb.org emergency stays</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ftr-copy">
            <div>
                <div>© 2023 Airbnb, Inc. ⋅ &nbsp;</div>
                <div class="priv">
                    <a href="#">Privacy</a>
                     ⋅ 
                    <a href="#">Terms</a>
                     ⋅
                    <a href="#">Sitemap</a>
                     ⋅ 
                    <a href="#">Company details</a>
                </div>
            </div>
            <div class="ftr-net">
                <div class="eng-in">
                    <i class="fa-solid fa-globe me-1"></i>
                    <div class="main-light">English (IN)</div>
                </div>
                <div class="ftr-inr">₹ INR</div>
                <div class="f-info-socials">
                    
                    <a href="https://twitter.com/SinghMansi_09"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/mansi-singh-5163081ab/"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/@itsMansiSingh09"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://github.com/Mansi8874"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100087923045100&mibextid=ZbWKwL"><i class="fa-brands fa-square-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="ftr-mansi">
            <p>Made by - Mansi Singh</p>
        </div>
    </div>

    <!-- <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div> -->
</footer>